<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="form-control">

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>ID</label>
      </div>
      <div class="col -8">
      <input class="form-control" type="text" [(ngModel)]="result.Id" value="{{result.Id}}" placeholder="ID" #ctrl="ngModel"/>
      </div>
    </div>
  </div>

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Name</label>
      </div>
      <div class="col -8">
      <input class="form-control" type="text" [(ngModel)]="result.Name" value="{{result.Name}}" placeholder="Name" #ctrl="ngModel"/>
      </div>
    </div>
  </div>

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Stock Share</label>
      </div>
      <div class="col -8">
        <select class="form-select" [(ngModel)]="result.StockShareId" name="stockShareId">
          <ng-container *ngFor="let option of StockShareOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Transaction Date</label>
      </div>
      <div class="col -8">
        <label class="me-2">from</label><input class="form-control me-4" type="date"  [(ngModel)]="TransactionDateFrom">
        <label class="me-2">To</label><input class="form-control me-4" type="date"  [(ngModel)]="TransactionDateTo">
      </div>
    </div>
  </div>
  <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Price</label>
      </div>
      <div class="col -8">
        <label class="me-2">from</label><input class="form-control me-4" type="number"  [(ngModel)]="PriceFrom">
        <label class="me-2">To</label><input class="form-control me-4" type="number"  [(ngModel)]="PriceTo">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-outline-dark" (click)="apply()">Apply</button>
  </div>

