<div class="modal-header">
  <h4 class="modal-title">Group</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">

  <div class="form-control">
    <div>
      <label>Group By Column</label>
    </div>
    <select class="form-select" [(ngModel)]="result" name="result">
      <option *ngFor="let column of itemColumns" [value]="column.fieldName">{{ column.displayName }}
      </option>
    </select>
  </div>
  
  <hr />

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-outline-dark" (click)="apply()">Apply</button>
  </div>