<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="form-control">

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Custom Report Name</label>
      </div>
      <div class="col -8">
      <input class="form-control" type="text" [(ngModel)]="result" value="{{result}}" placeholder="Report Name" #ctrl="ngModel"/>
      </div>
    </div>
  </div>
 
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="reset()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="apply()">Save</button>
  </div>