<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="form-control">

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Name</label>
      </div>
      <div class="col -8">
      <input class="form-control" type="text" [(ngModel)]="result.Name" value="{{result.Name}}" placeholder="Name" #ctrl="ngModel"/>
      </div>
    </div>
  </div>

  <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Writer Matching Property</label>
      </div>
      <div class="col -8">
      <input class="form-control" type="text" [(ngModel)]="result.MatchProperty" value="{{result.MatchProperty}}" placeholder="Writer Matching Property" #ctrl="ngModel"/>
      </div>
    </div>
  </div>

  <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Writer Matching Values</label>
      </div>
      <div class="col -8">
      <input class="form-control" type="text" [(ngModel)]="result.MatchValues" value="{{result.MatchValues}}" placeholder="Writer Matching Values" #ctrl="ngModel"/>
      </div>
    </div>
  </div>

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Action Type</label>
      </div>
      <div class="col -8">
        <select class="form-select" [(ngModel)]="result.ActionTypeId" name="actionTypeId">
          <ng-container *ngFor="let option of ActionTypeOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Writer Type</label>
      </div>
      <div class="col -8">
        <select class="form-select" [(ngModel)]="result.WriterTypeId" name="writerTypeId">
          <ng-container *ngFor="let option of WriterTypeOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-outline-dark" (click)="apply()">Apply</button>
  </div>