<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="form-control">

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>ID</label>
      </div>
      <div class="col -8">
      <input class="form-control" type="text" [(ngModel)]="result.Id" value="{{result.Id}}" placeholder="ID" #ctrl="ngModel"/>
      </div>
    </div>
  </div>

      <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Component Name</label>
      </div>
      <div class="col -8">
        <select class="form-select" [(ngModel)]="result.BfsComponentId" name="bfsComponentId">
          <ng-container *ngFor="let option of BfsComponentOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>System Action</label>
      </div>
      <div class="col -8">
        <select class="form-select" [(ngModel)]="result.SystemActionId" name="systemActionId">
          <ng-container *ngFor="let option of SystemActionOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="form-control">
    <div class="row">
      <div class="col -4">
        <label>Role</label>
      </div>
      <div class="col -8">
        <select class="form-select" [(ngModel)]="result.RoleId" name="roleId">
          <ng-container *ngFor="let option of RoleOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-outline-dark" (click)="apply()">Apply</button>
  </div>

