<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <article class="card card-out-of-container border-top-0">
        <div class="position-relative card-side-img overflow-hidden"
          style="height: 250px; background-image: url({{imgUrl}});">
          <div
            class="p-4 card-img-overlay rounded-start-0 auth-overlay d-flex align-items-center justify-content-center">
            <section class="text-white text-center py-4">
              <h3 class="mb-2 fst-italic">"Stock Exchange Market"</h3>
              <h4 class="fst-italic">Real-time data, insights, and trends from different financial hubs</h4>
            </section>
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-12" style="padding:auto; display: flex; align-items: center; justify-content: center;">
      <h3 *ngIf="currentSystemApp">Welcome to {{currentSystemApp.displayName}}</h3>
      <h3 *ngIf="!currentSystemApp">Login is required to access the application.</h3>
    </div>
  </div>

  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-4" *ngFor="let item of userApps">
      <input type="button" class="btn btn-primary m-2" value="{{item}}" (click)="setCurrentSystem(item, item)" />
    </div>
  </div>

  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-6">
      <input type="button" class="btn btn-primary m-2" value="Get Token" (click)="getToken()" />
    </div>
    <div class="col-6">
      <input type="button" class="btn btn-primary m-2" value="Get Access Data" (click)="getAccessData()" />
    </div>
  </div>
</div>