<div class="container-fluid">
    <div class="pb-2"></div>
    <div class="card">
        <div class="card-body">

            <ul ngbNav #nav="ngbNav" class="nav nav-tabs mb-3" [activeId]="1">
                <li [ngbNavItem]="1">
                    <a href="javascript:void(0)" ngbNavLink> BestFit Fields </a>
                    <!----------------------------------------- Tab1 Contents -------------------------------------->
                    <ng-template ngbNavContent>
                        <form card-body class="g-3 needs-validation" novalidate (ngSubmit)="validSubmit()" [formGroup]="validationForm">
                            <div class="card fs-6">
                                <!-----------------------------------------Header Buttons -------------------------------------->

                                <div class="card-header d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-sm btn-outline-primary me-2" *ngIf="currentOperation=='add'" >Add</button>
                                            <button type="submit" class="btn btn-sm btn-outline-primary me-2" *ngIf="currentOperation=='edit'" >Update</button>
                                            <button type="submit" class="btn btn-sm btn-outline-primary me-2" *ngIf="currentOperation=='delete'" >Delete</button>
                                             <a [routerLink]="['/mstr/bfs-field/list']" class="btn btn-sm btn-outline-primary" *ngIf="currentOperation=='view'" >Back</a>
                                             <a [routerLink]="['/mstr/bfs-field/list']" class="btn btn-sm btn-outline-primary" *ngIf="currentOperation!='view'" >Cancel</a>
                                        </div>
                                        <div class="btn-group">
                                            <div ngbDropdown>
                                                <button class="btn btn-sm  btn-primary" type="button" ngbDropdownToggle> Actions </button>
                                                <div ngbDropdownMenu>
                                                    <a *ngIf="currentOperation=='add' || currentOperation=='edit'" ngbDropdownItem href="javascript:void(0)" (click)="resetForm()">Reset Form</a>

                                                    <div *ngFor="let link of getRecordLinks(me)">
                                                        <a *ngIf="isAccessible(link)" [routerLink]="[link.route, link.recordId]" ngbDropdownItem>{{link.displayText}}</a>
                                                    </div>
                                                    <div *ngFor="let link of getRecordActions(me)">
                                                        <a *ngIf="isAccessible(link)" ngbDropdownItem href="javascript:void(0)" (click)="link.action(me, me.entity, link.data)">{{link.displayText}}</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="card-body">
                                    <!----------------------------------------- Messages -------------------------------------->
                                    <div *ngFor="let msg of messages">
                                        <div *ngIf="msg.text">
                                            <ngb-alert type="{{msg.msgType}}" class="d-flex align-items-center gap-1 mb-2" [dismissible]="true" (click)="msg.text = '' " role="alert">
                                                <ng-icon name="tablerAlertOctagon" class="fs-xl"></ng-icon> {{ msg.text }}
                                            </ngb-alert>
                                        </div>
                                    </div>
                                    <!----------------------------------------- Form Controls -------------------------------------->
                                    <div class="row">
                                    <div class="col-6">
<div class="row mb-2">
    <div class="col-6">
        <label for="id" class="form-label fs-6">ID</label>
        <input class="form-control" type="text" id="id" formControlName="id"
            [class]="submit && !form['id'].errors ? 'is-valid': submit && form['id'].errors ? 'is-invalid' : ''" />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Invalid ID.</div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12">
        <label for="bfsComponentId" class="form-label fs-6">Component</label>
        <select class="form-select" id="bfsComponentId" formControlName="bfsComponentId"
            [class]="submit && !form['bfsComponentId'].errors ? 'is-valid': submit && form['bfsComponentId'].errors ? 'is-invalid' : ''">
            <ng-container *ngFor="let option of BfsComponentOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
            </ng-container>
        </select>
        <div class="invalid-feedback">Please select a valid Component.</div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <label for="field" class="form-label fs-6">Field</label>
        <ng-icon name="tablerInfo-Circle" class="text-info fs-16" style="margin-left:2px"  popoverTitle="Info" ngbPopover="" style='display:none' />

        <input class="form-control" type="text" id="field" formControlName="field"
            [class]="submit && !form['field'].errors ? 'is-valid': submit && form['field'].errors ? 'is-invalid' : ''" />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Invalid Field.</div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12">
        <label for="displayName" class="form-label fs-6">DisplayName</label>
        <ng-icon name="tablerInfo-Circle" class="text-info fs-16" style="margin-left:2px"  popoverTitle="Info" ngbPopover="" style='display:none' />

        <input class="form-control" type="text" id="displayName" formControlName="displayName"
            [class]="submit && !form['displayName'].errors ? 'is-valid': submit && form['displayName'].errors ? 'is-invalid' : ''" />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Invalid DisplayName.</div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12">
        <label for="filterTypeId" class="form-label fs-6">Filter Type</label>
        <select class="form-select" id="filterTypeId" formControlName="filterTypeId"
            [class]="submit && !form['filterTypeId'].errors ? 'is-valid': submit && form['filterTypeId'].errors ? 'is-invalid' : ''">
            <ng-container *ngFor="let option of FilterTypeOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
            </ng-container>
        </select>
        <div class="invalid-feedback">Please select a valid Filter Type.</div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <label for="backendDataTypeId" class="form-label fs-6">Backend Type</label>
        <select class="form-select" id="backendDataTypeId" formControlName="backendDataTypeId"
            [class]="submit && !form['backendDataTypeId'].errors ? 'is-valid': submit && form['backendDataTypeId'].errors ? 'is-invalid' : ''">
            <ng-container *ngFor="let option of BackendDataTypeOptions">
            <option [value]="option['id']">{{ option['name'] }}</option>
            </ng-container>
        </select>
        <div class="invalid-feedback">Please select a valid Backend Type.</div>
    </div>
</div>
                                        <div class="col-12"  style="padding:4px; margin-bottom:4px; border: 2px solid #A7E8E9;" formGroupName="reportInfo">
                                            <label class="form-label fs-4">Report Info</label>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="parentTable" class="form-label fs-6">parentTable</label>
                                                    <ng-icon name="tablerInfo-Circle" class="text-info fs-16" style="margin-left:2px"  popoverTitle="Info" ngbPopover="" style='display:none' />

                                                    <input class="form-control" type="text" id="parentTable" formControlName="parentTable"
                                                        [class]="submit && !form['parentTable'].errors ? 'is-valid': submit && form['parentTable'].errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid parentTable.</div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="isQueryColumn" formControlName="isQueryColumn" />
                                                        <label class="form-check-label" for="isQueryColumn">isQueryColumn</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="isColumnVisible" formControlName="isColumnVisible" />
                                                        <label class="form-check-label" for="isColumnVisible">isColumnVisible</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="isJoinField" formControlName="isJoinField" />
                                                        <label class="form-check-label" for="isJoinField">isJoinField</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="aggregateTypeId" class="form-label fs-6">Aggregate Type</label>
                                                    <select class="form-select" id="aggregateTypeId" formControlName="aggregateTypeId"
                                                        [class]="submit && !validationForm.get('reportInfo.aggregateTypeId')?.errors ? 'is-valid': submit && validationForm.get('reportInfo.aggregateTypeId')?.errors ? 'is-invalid' : ''" >
                                                        <ng-container *ngFor="let option of AggregateTypeOptions">
                                                        <option [value]="option.id">{{ option.name }}</option>
                                                        </ng-container>
                                                    </select>
                                                    <div class="invalid-feedback">Please select a valid Aggregate Type.</div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="chartElementId" class="form-label fs-6">Chart Element</label>
                                                    <select class="form-select" id="chartElementId" formControlName="chartElementId"
                                                        [class]="submit && !validationForm.get('reportInfo.chartElementId')?.errors ? 'is-valid': submit && validationForm.get('reportInfo.chartElementId')?.errors ? 'is-invalid' : ''" >
                                                        <ng-container *ngFor="let option of ChartElementOptions">
                                                        <option [value]="option.id">{{ option.name }}</option>
                                                        </ng-container>
                                                    </select>
                                                    <div class="invalid-feedback">Please select a valid Chart Element.</div>
                                                </div>
                                            </div>
                                         </div>
                                        <div class="col-12"  style="padding:4px; margin-bottom:4px; border: 2px solid #A7E8E9;" formGroupName="toolTipInfo">

                                           <label class="form-label fs-4">ToolTip Info</label>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="actionLocationId" class="form-label fs-6">Action Location</label>
                                                    <select class="form-select" id="actionLocationId" formControlName="actionLocationId"
                                                        [class]="submit && !validationForm.get('toolTipInfo.actionLocationId')?.errors ? 'is-valid': submit && validationForm.get('toolTipInfo.actionLocationId')?.errors ? 'is-invalid' : ''" >
                                                        <ng-container *ngFor="let option of ActionLocationOptions">
                                                        <option [value]="option.id">{{ option.name }}</option>
                                                        </ng-container>
                                                    </select>
                                                    <div class="invalid-feedback">Please select a valid Action Location.</div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="note" class="form-label fs-6">Note</label>
                                                    <input class="form-control" type="text" id="note" formControlName="note"
                                                        [class]="submit && !validationForm.get('toolTipInfo.note')?.errors ? 'is-valid': submit && validationForm.get('toolTipInfo.note')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Note.</div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="icon" class="form-label fs-6">Icon</label>
                                                    <input class="form-control" type="text" id="icon" formControlName="icon"
                                                        [class]="submit && !validationForm.get('toolTipInfo.icon')?.errors ? 'is-valid': submit && validationForm.get('toolTipInfo.icon')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Icon.</div>
                                                </div>
                                            </div>
                                         </div>
</div>
<div class="col-6">
                                        <div class="col-12" formGroupName="fieldValidation">
                                            <label class="form-label fs-4">Field Validation</label>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="isRequired" formControlName="isRequired" />
                                                        <label class="form-check-label" for="isRequired">Required</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="minLength" class="form-label fs-6">Min Length</label>
                                                    <input class="form-control" type="text" id="minLength" formControlName="minLength"
                                                        [class]="submit && !validationForm.get('fieldValidation.minLength')?.errors ? 'is-valid': submit && validationForm.get('fieldValidation.minLength')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Min Length.</div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="maxLength" class="form-label fs-6">Max Length</label>
                                                    <input class="form-control" type="text" id="maxLength" formControlName="maxLength"
                                                        [class]="submit && !validationForm.get('fieldValidation.maxLength')?.errors ? 'is-valid': submit && validationForm.get('fieldValidation.maxLength')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Max Length.</div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="minValue" class="form-label fs-6">Min Value</label>
                                                    <input class="form-control" type="text" id="minValue" formControlName="minValue"
                                                        [class]="submit && !validationForm.get('fieldValidation.minValue')?.errors ? 'is-valid': submit && validationForm.get('fieldValidation.minValue')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Min Value.</div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="maxValue" class="form-label fs-6">Max Value</label>     
                                                    <input class="form-control" type="text" id="maxValue" formControlName="maxValue"
                                                        [class]="submit && !validationForm.get('fieldValidation.maxValue')?.errors ? 'is-valid': submit && validationForm.get('fieldValidation.maxValue')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Max Value.</div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="maxValue" class="form-label fs-6">Regular Expression</label>     
                                                    <input class="form-control" type="text" id="regexPattern" formControlName="regexPattern"
                                                        [class]="submit && !validationForm.get('fieldValidation.regexPattern')?.errors ? 'is-valid': submit && validationForm.get('fieldValidation.regexPattern')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Regex Pattern.</div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="maxValue" class="form-label fs-6">Allowed Values</label>     
                                                    <input class="form-control" type="text" id="allowedValues" formControlName="allowedValues"
                                                        [class]="submit && !validationForm.get('fieldValidation.allowedValues')?.errors ? 'is-valid': submit && validationForm.get('fieldValidation.allowedValues')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Regex Pattern.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12" style="padding:4px; margin-bottom:4px; border: 2px solid #A7E8E9;" formGroupName="formInfo">

                                            <label class="form-label fs-4">Form Control Info</label>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="formControlTypeId" class="form-label fs-6">Form Control Type</label>
                                                    <select class="form-select" id="formControlTypeId" formControlName="formControlTypeId"
                                                        [class]="submit && !validationForm.get('formInfo.formControlTypeId')?.errors ? 'is-valid': submit && validationForm.get('formInfo.formControlTypeId')?.errors ? 'is-invalid' : ''" >
                                                        <ng-container *ngFor="let option of FormControlTypeOptions">
                                                        <option [value]="option.id">{{ option.name }}</option>
                                                        </ng-container>
                                                    </select>
                                                    <div class="invalid-feedback">Please select a valid Form Control Type.</div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-6">
                                                    <label for="column" class="form-label fs-6">UI Control Column (on Form)</label>
                                                    <input class="form-control" type="text" id="column" formControlName="column"
                                                        [class]="submit && !validationForm.get('formInfo.column')?.errors ? 'is-valid': submit && validationForm.get('formInfo.column')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid UI Control Column.</div>
                                                </div>
                                                <div class="col-6">
                                                    <label for="row" class="form-label fs-6">UI Control Row (on Form)</label>
                                                    <input class="form-control" type="text" id="row" formControlName="row"
                                                        [class]="submit && !validationForm.get('formInfo.row')?.errors ? 'is-valid': submit && validationForm.get('formInfo.row')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid UI Control Row.</div>
                                                </div>
                                             </div>
                                         </div>
                                        <div class="col-12" style="padding:4px; margin-bottom:4px; border: 2px solid #A7E8E9;"  formGroupName="matrixInfo">                             

                                            <label class="form-label fs-4">Matrix Info</label>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="parentApi" class="form-label fs-6">Parent Api Name</label>
                                                    <input class="form-control" type="text" id="parentApi" formControlName="parentApi"
                                                        [class]="submit && !validationForm.get('matrixInfo.parentApi')?.errors ? 'is-valid': submit && validationForm.get('matrixInfo.parentApi')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Parent Api Name.</div>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="horizontalApi" class="form-label fs-6">Horizontal Api Name</label>
                                                    <input class="form-control" type="text" id="horizontalApi" formControlName="horizontalApi"
                                                        [class]="submit && !validationForm.get('matrixInfo.horizontalApi')?.errors ? 'is-valid': submit && validationForm.get('matrixInfo.horizontalApi')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Horizontal Api Name.</div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-12">
                                                    <label for="verticalApi" class="form-label fs-6">Vertical Api Name</label>     
                                                    <input class="form-control" type="text" id="verticalApi" formControlName="verticalApi"
                                                        [class]="submit && !validationForm.get('matrixInfo.verticalApi')?.errors ? 'is-valid': submit && validationForm.get('matrixInfo.verticalApi')?.errors ? 'is-invalid' : ''" />
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Invalid Vertical Api Name.</div>
                                                </div>
                                            </div>
                                        </div>
</div>

                                    </div>
                                </div>
                            </div>
                        </form>
                        <!----------------------------------------- End Form -------------------------------------->

                    </ng-template>
                </li>

                <!----------------------------------------------------- Tabs -------------------------------------->

            </ul>

            <div class="tab-content" [ngbNavOutlet]="nav">
            </div>
        </div>
    </div>
</div>

